.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  font-family: 'Arial', sans-serif;
  background-color: #e5f4f9;
  color: #333;
}

.app {
  height: 100vh; /* Full height */
  width: 100vw; /* Full width */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5f4f9;
  overflow-y: auto;
}

.container {
  width: 90%;
  max-width: 1200px; /* Adjust this as needed */
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  max-height: 100vh;
  overflow-y: auto; /* Handle scrolling if content is too long */
}

h2 {
  color: #004d66;
  font-size: 24px;
  margin-bottom: 20px;
}

label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-size: 14px;
}

input[type="number"], select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 14px;
}

button {
  background-color: #004d66;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}

button:hover {
  background-color: #00394d;
}

.result {
  margin-top: 20px;
}

h3 {
  color: #004d66;
  background-color: #e5f4f9;
  padding: 10px;
  border-radius: 20px;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

.result p {
  font-size: 16px;
}

.center {
  text-align: center;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #004d66;
  color: white;
  font-weight: bold;
  padding: 10px;
}

input[type="number"] {
  border: 2px solid #ccc;
}

input[type="number"]:focus, select:focus {
  border-color: #004d66;
  outline: none;
}

.result button {
  background-color: #ff6666;
}

.result button:hover {
  background-color: #ff3333;
}

/* Category Button Styling */
.category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  color: white;
}

.category .icon {
  font-size: 24px;
  cursor: pointer;
}

.gifts {
  background-color: #cbb045;
}

.travel {
  background-color: #4093d4;
}

.food {
  background-color: #e04a4a;
}

.entertainment {
  background-color: #6baf75;
}

.decorations {
  background-color: #946835;
}

.clothing {
  background-color: #4083c4;
}

.stationary {
  background-color: #e07a4a;
}

.charity {
  background-color: #a35faa;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-image {
  width: 100%; /* Make it take full width */
  max-width: 200px; /* Limit its maximum width */
  height: auto;
  object-fit: cover;
  object-position: center center;
}


/* Travel Dropdown Styles */
.category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  color: white;
  cursor: pointer;
}

.travel {
  background-color: #4093d4;
}

.icon {
  font-size: 24px;
}

/* Grid layout for all sections */
.travel-grid, .gifts-grid, .food-grid, .entertainment-grid, .stationary-grid, .decorations-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-top: 15px;
}
